{{define "body"}}
    <h1>Товари {{if .CurrentCategory}} - {{.CurrentCategory}} {{end}}</h1>
    <div class="row">
        {{ range .Products.Items }}
            <div class=" col-lg-3 col-md-4 col-sm-6 cl-xs-12">
                <div class="thumbnail">
                    <h4 class="name center">{{.Name}} {{.Description}}</h4>
                    <p>
                        <img src="{{.Image}}" class="img-responsive"
                             style="width: 100%; object-fit: cover; height: 200px" alt="Responsive image">
                    </p>
                    <p>
                        <span class="price"> {{printf "%.2f" .Price}} грн</span>
                        <button type="button"  class="  btn btn-primary" role="button">До Кошика</button>
                    </p>
                </div>
            </div>
        {{ end }}
    </div>
{{end}}